.CourseInfoHeader {
    margin-left: 2.5rem;
}

.CourseInfoHeaderTitle h5 {
    font-size: 18px;
}

.CourseInfoHeaderTitle p {
    font-size: 14px;
}

.CourseDetails,
.CourseDetails table {
    margin-left: auto;
    margin-right: auto;
}

.CourseDetails {
    margin-top: 5rem;
}

.CourseDetailsTable {
    font-size: 16px;
}

.CourseGradesTable {
    font-size: 16px;
}

.CourseGradesTable th {
    padding-right: 1rem;
    text-align: left;
}

.CourseDetailsTable th {
    padding-right: 1rem;
}

.CourseDetailsTable th,
.CourseDetailsTable td {
    text-align: left;
}

.OverallGrading,
.CourseGradesTable th,
.CourseGradesTable td,
.CourseDetailsTable th,
.CourseDetailsTable td {
    font-weight: 400;
}

.Course-Info-Body .Course-Info-Title {
    font-size: 14px;
}

.Assignment.Assignment-Card .Assignment-Due {
    font-size: 12px;
}

.Assignment.Assignment-Card .Assignment-Grade {
    font-size: 12px;
}

.Assignment.Assignment-Card .Assignment-Title {
    font-size: 14px;
}

.Assignment.Assignment-Card {
    position: relative;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-collapse: separate;
}

.Assignment .Enter-Grade-Btn {
    background-color: var(--danger-color);
    font-size: 12px;
    padding: .2rem;
}

.Assignment .Assignment-Status {
    position: absolute;
    left: .5rem;
    top: 1.2rem;
    font-size: 9px;
}

.Assignment .Change-Grade {
    color: var(--tertiary-color);
    position: absolute;
    right: .4rem;
    bottom: .6rem;
    font-size: 14px;
}

.CourseInfoHeader .Course-Card-Term {
    font-size: 12px;
}

.mate-more-info {
    margin-left: 6px;
    font-size: 14px;
    color: var(--tertiary-color);
}

.CourseInfoTitle {
    margin-bottom: 0;
}