.Courses-Header {
    border-bottom: 2px solid var(--tertiary-color);
}

.Course-Card,
.Assignment.Assignment-Card {
    border-bottom: 1px solid var(--tertiary-color);
}

.mate-table {
    width: 100%;
}