.StudyGroupForm .StudyGroupForm__Create h4 {
    margin-bottom: 1.5rem;
}

.StudyGroupForm .StudyGroupForm__Create form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.StudyGroupForm .StudyGroupForm__Create form small.char-count {
    text-align: right;
}

.StudyGroupForm__Bottom {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.StudyGroupForm__Bottom>.form-group.max-users {
    max-width: 100px;
}

/*****************************************  */
/** Checkbox                                */
/*****************************************  */

#private {
    height: 1rem;
}

#private:checked {
    background-color: var(--primary-color);
}

#private:checked~#private::after {
    color: var(--bg-color);
}