.BackButton {
    position: absolute;
    padding: 3px;
    left: 1rem;
    top: 7px;
}

.BackButton .MuiButtonBase-root.MuiIconButton-root .MuiIconButton-label .MuiSvgIcon-root {
    color: var(--primary-color);
}