.Avatar,
.UserAvatar {
	overflow: hidden;
	object-fit: cover;
	border-radius: 100%;
}

.Avatar {
	width: 40px;
	height: 40px;
}

.UserAvatar {
	width: 48px;
	height: 48px;
	border: 2px solid var(--primary-color);
}

/* .UserProfile.User-Profile-Header .User-Profile-Username {
	text-align: left;
	margin-left: 2.5rem;
} */

/**************************************/
/** User Profile                      */
/**************************************/

.UserProfile {
	display: flex;
	flex-direction: column;
}

.UserProfile__Header {
	margin-top: 10vh;
	position: fixed;
	width: 100%;
	box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.UserProfile__Header-Container {
	display: flex;
	flex-direction: column;
}

.Avatar.UserProfile__Avatar {
	height: 72px;
	width: 72px;
	margin: auto;
}

.UserProfile .UserProfile__Header-BG {
	background-size: cover;
	height: 180px;
}

.Image-Overlay {
	box-shadow: inset 2000px 0 0 0 rgba(34, 40, 49, 0.9);
}

.UserProfile .UserProfile__BackBtn {
	position: fixed;
	z-index: 100;
}

.UserProfile .UserProfile__BackBtn .BackButton {
	top: 5.25rem;
	z-index: 100;
}

.UserProfile > .UserProfile__Body {
	text-align: left;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	margin-top: 36vh;
	margin-bottom: 10rem;
}

.UserProfile > .UserProfile__Body p {
	margin: 0;
}

.UserProfile .UserProfile__Body .UserProfile__Body-Field {
	margin-bottom: 1rem;
}

.UserProfile
	.UserProfile__Body
	.UserProfile__Body-Field
	.UserProfile__Body-Input {
	margin-left: 0.5rem;
}

.User-Availability-List > li {
	display: flex;
	justify-content: space-between;
}

.User-Availability-List > li > .Available-Time > .empty {
	margin-right: 4rem;
}

.User-Availability-List > li > .Available-Time {
	font-weight: 200;
	font-size: 15px;
	position: relative;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
}

.User-Availability-List > li > .Available-Day {
	margin-right: auto;
}

.empty {
	color: var(--tertiary-color);
	font-style: italic;
}

.Available-Day {
	font-weight: 400;
}

.User-Profile-Header-Footer {
	position: absolute;
	right: 0;
	bottom: 1rem;
}

/********************************* */
/** Media Queries - MAIN LAYOUT    *
/********************************* */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.UserProfile__Header {
		width: 85vw;
	}

	.User-Profile-Header-Footer {
		bottom: 1rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.UserProfile__Header {
		width: 75vw;
	}
}
