.Modal {
	background-color: var(--bg-color);
	position: absolute;
	height: 100vh;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
}

.fade-in {
	animation: fadeIn ease 0.3s;
	-webkit-animation: fadeIn ease 0.3s;
	-moz-animation: fadeIn ease 0.3s;
	-o-animation: fadeIn ease 0.3s;
	-ms-animation: fadeIn ease 0.3s;
}

.fade-out {
	animation: fadeOut ease 0.3s;
	-webkit-animation: fadeOut ease 0.3s;
	-moz-animation: fadeOut ease 0.3s;
	-o-animation: fadeOut ease 0.3s;
	-ms-animation: fadeOut ease 0.3s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.Modal-Close {
	position: absolute;
	top: 2.5%;
}

.mate-btn-submit,
.mate-btn-reset {
	position: fixed;
	width: 350px;
	left: 50%;
	margin-left: -175px;
}

.mate-btn-submit {
	bottom: 7.5rem;
}

.mate-btn-reset {
	bottom: 3.5rem;
}

.Modal .Modal-Content {
	margin-top: 50%;
}

.Modal .Modal-Full-Content {
	margin-top: 6%;
}

.Modal .Modal-Content > *,
.Modal .Modal-Full-Content > * {
	margin-left: auto;
	margin-right: auto;
	max-width: 760px;
}

/********************************* */
/** Media Queries                  *
/********************************* */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.Modal .Modal-Content {
		margin-top: 20%;
	}

	.Modal .Modal-Content > *,
	.Modal .Modal-Full-Content > * {
		width: 75%;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.Modal .Modal-Content {
		margin-top: 10%;
	}

	.Modal .Modal-Full-Content {
		margin-top: 2%;
	}

	.Modal {
		left: 26vw;
	}

	.AssignmentForm {
		margin-top: 0;
	}

	.Modal-Close {
		top: 2rem;
	}
}
