.Courses {
    display: flex;
    flex-direction: column;
}

.Courses__CourseList {
    flex: 1;
    margin-top: 18vh;
    margin-bottom: 7rem;
    overflow: scroll;
}

table .Course.Course-Card {
    font-size: 14px;
}

table {
    table-layout: fixed;
}

table .Course.Course-Card .Course-Card-Term {
    font-size: 12px;
    font-style: italic;
}

.Course.Course-Card tr th,
.Course.Course-Card tr td {
    text-align: left;
}

.Course.Course-Card .Course-Name,
.Course.Course-Card .Course-Title {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.Course.Course-Card .Course-Name {
    width: 120px;
    padding-left: 1.25rem;
}

.Course.Course-Card .Course-Title {
    margin: auto;
    padding-right: 1.25rem;
}

.Assignment.Assignment-Card {
    border-bottom: 1px solid var(--tertiary-color);
}

.mate-table {
    width: 100%;
    border-bottom: 1px solid var(--tertiary-color);
}

.CourseFormSemester {
    display: flex;
    flex-direction: column;
}

.CourseFormSemester label {
    margin-right: auto;
}

.CourseFormSemesterFields {
    display: flex;
    justify-content: space-between;
}