.Feed {
    display: flex;
    flex-direction: column;
}

.Feed__List {
    flex: 1;
    overflow: scroll;
    margin-top: 10vh;
    margin-bottom: 7rem;
}

.Post-Card__Header {
    margin-bottom: .5rem;
}

.Post-Card__Header>h5 {
    margin: 0;
}

.Post-Card__Header>.username {
    font-size: x-small;
}

.Post-Card__Right.Post__timestamp {
    position: absolute;
    top: 8%;
    right: 7%;
}

.Post-Card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-bottom: 1px solid var(--tertiary-color);
    padding: 1.2rem 1.2rem .2rem 1.2rem;
}

.Post-Card>a {
    color: var(--secondary-color);
}

.Post-Card__Left {
    margin-right: 1rem;
}

.Post-Card .Post-Card__Center {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Post-Card .Post-Card__Center .Post-Card__Body {
    font-size: 14px;
}

.Post-Card__Main {
    display: flex;
}

.Post-Card .Post-Card__Footer {
    display: flex;
    justify-content: space-evenly;
}

.Post__timestamp {
    font-size: x-small;
    font-style: italic;
}

.event__time {
    margin-bottom: 0;
}

.event__timestamp {
    font-size: smaller;
    font-style: italic;
    padding: 0;
    margin-left: 1rem;
}

.Post-Card>.location {
    font-size: x-small;

}

/********************************* */
/** Post Form                      *
/********************************* */

.PostForm {
    display: flex;
    flex-direction: column;
}

.char-count {
    color: var(--tertiary-color);
    float: right;
    font-style: italic;
}

.message__attachments {
    display: flex;
}

.attachment__label {
    margin-left: .6rem;
    margin-top: .2rem;
}

.attachment__preview {
    max-height: 100px;
    margin-top: .6rem;
}