.Feed {
    display: flex;
    flex-direction: column;
}

.Feed__List {
    flex: 1;
    overflow: scroll;
    margin-top: 10vh;
    margin-bottom: 7rem;
}

.Post-Card {
    display: flex;
    justify-content: space-between;
}

.Post-Card>a {
    color: var(--secondary-color);
}

.Post-Card .Post-Card__Center {
    text-align: left;
    width: 75%;
}

.Post-Card .Post-Card__Center .Post-Card__Body {
    font-size: 14px;
}

.Post-Card .Post-Card__Center .Post-Card__Footer {
    display: flex;
    justify-content: space-between;
}

/********************************* */
/** Post Form                      *
/********************************* */

.PostForm {
    display: flex;
    flex-direction: column;
}

.char-count {
    color: var(--tertiary-color);
    float: right;
    font-style: italic;
}

.message__attachments {
    display: flex;
}

.attachment__label {
    margin-left: .6rem;
    margin-top: .2rem;
}

.attachment__preview {
    max-height: 100px;
    margin-top: .6rem;
}