.PostInfo {
    display: flex;
    flex-direction: column;
}

.PostInfo__Header {
    position: fixed;
    z-index: 25;
    width: 100%;
    height: 8vh;
    margin-top: 10vh;
    background-color: var(--bg-color);
    border-bottom: 2px solid var(--tertiary-color);
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
    padding-left: 1rem;
    padding-right: 1rem;
}

.PostInfo__Body {
    flex: 1;
    padding: 0 0 30px 0;
    overflow: scroll;
    margin-top: 18vh;
    margin-bottom: 7rem;
}

.PostInfo__CommentList {
    flex: 1;
    overflow: scroll;
    margin-bottom: 7rem;
}

.PostInfo__Footer {
    position: fixed;
    bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
    margin: auto;
    z-index: 25;
    /* height: 62px; */
    /* border-top: 1px solid var(--tertiary-color); */
}

.PostInfo__Footer>form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostInfo__Footer>form>input {
    flex: 1;
    padding: .5rem;
}

.PostInfo__Footer>form>input::placeholder {
    color: var(--tertiary-color);
    font-style: italic;
}

.PostInfo__Footer>form>button {
    display: none;
}

/********************************* */
/** COMMENTS                       *
/********************************* */

.Comment-Card {
    position: relative;
    border-bottom: 1px solid var(--tertiary-color);
}

.Comment-Card__Main {
    padding: 1rem 1.2rem 1rem 1.2rem;
    display: flex;
    font-size: 14px;
}

.Comment-Card .username {
    font-size: small;
    font-style: italic;
    color: var(--primary-color);
}

.username {
    font-weight: lighter;
}

.Comment-Card__Center {
    text-align: left;
}

.Comment-Card__Left {
    margin-right: 1rem;
}

.Comment-Card__Message {
    margin-bottom: 0;
}

.Comment-Card .Comment-Card__Timestamp {
    color: var(--tertiary-color);
    font-size: x-small;
    font-style: italic;
    position: absolute;
    top: 1.2rem;
    padding-right: 1.2rem;
    right: 0;
}