.Search {
    display: flex;
    flex-direction: column;
}

.Search-Header {
    /* width: 90%;
    margin: auto; */
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: none;
    box-shadow: none;
}

.Search__Elements {
    position: relative;
}

.Search__Elements>input {
    padding-left: 2.5rem;
}

.Search__Elements>input::placeholder {
    font-style: italic;
    text-transform: capitalize;
}

.Search__Icon {
    position: absolute;
    left: 10px;
    top: 6px;
    color: var(--primary-color);
}

.Search-Categories {
    /* display: flex;
    flex-direction: row; */
    z-index: 50;
    background-color: var(--bg-color);
    margin-top: 17vh;
    overflow-x: auto;
    white-space: nowrap;
    border-bottom: 1px solid var(--tertiary-color);
}

.Search-Categories>ul.MuiList-root.MuiList-padding:first-child {
    margin-left: 1rem;
}

.Search-Categories>ul.MuiList-root.MuiList-padding>.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button.mr {
    margin-right: 1rem;
}

.MuiButtonBase-root.MuiListItem-root.inactive.MuiListItem-gutters.MuiListItem-button {
    color: var(--tertiary-color);
}

.MuiList-root.MuiList-padding {
    margin: 0;
}

.Search-Categories .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
    display: inline-block;
    width: auto;
    margin-left: 0;
}

.Search-Categories .MuiTypography-body1 {
    font-size: .8rem;
}

/* Hides side scroll scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}