.Tutors {
    display: flex;
    flex-direction: column;
}

.Tutors__Body {
    flex: 1;
    overflow: scroll;
    margin-top: 18vh;
    margin-bottom: 9rem;
}

.Tutor.Tutor-Card {
    display: flex;
    padding: 1rem;
    font-size: 14px;
}

.Tutor.Tutor-Card .Tutor-Card-Term {
    font-size: 12px;
}

.Tutor.Tutor-Card .Tutor-Name,
.Tutor.Tutor-Card .Tutor-Title {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.mate-table {
    width: 100%;
    border-bottom: 1px solid var(--tertiary-color);
}

/*************************************************/
/** Be Tutor Form                                */
/*************************************************/

.BeTutorForm {
    margin-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.BeTutorForm .Be-Tutor__Availability,
.BeTutorForm .BeTutor__Portfolio {
    display: flex;
    flex-direction: column;
}

.BeTutorForm label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiFormLabel-filled {
    color: var(--primary-color);
    font-size: 1.25rem;
    font-weight: 500;
}

.BeTutorForm input.MuiInputBase-input.MuiInput-input {
    font-weight: 300;
    font-size: 14px;
    margin-top: 0.2rem;
    width: 88px;
}

.BeTutorForm input.MuiInputBase-input.MuiInput-input:active,
.BeTutorForm input.MuiInputBase-input.MuiInput-input:focus {
    background-color: var(--bg-color);
}

.BeTutorForm .Availability__Day {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.BeTutorForm .Availability__Day .Availability__TimePicker {
    position: relative;
    display: flex;
    align-items: baseline;
}

.BeTutorForm .Availability__Day .Availability__TimePicker .TimePicker__Seperator {
    position: absolute;
    left: 4.3rem;
    bottom: 0rem;
    font-weight: 300;
    font-size: 14px;
}

.BeTutorForm .Availability__Day>.Availability__Add,
.BeTutorForm .Portfolio__Add,
.BeTutorForm .BeTutor__Portfolio label {
    align-self: flex-start;
}

.BeTutorForm .Availability__Day>.Availability__Add>button {
    padding: 0;
}

/*************************************************/
/** Be Tutor Form - Portfolio                    */
/*************************************************/

.BeTutorForm .User-Porfolio-Links {
    text-align: left;
    margin-bottom: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

.BeTutorForm .User-Porfolio-Links li[data-name="portfolio"] {
    font-weight: 200;
    font-size: .95rem;
}

.BeTutorForm .User-Porfolio-Links li>button {
    padding: .2rem 1rem;
}

.BeTutor__Portfolio .BeTutor__Portfolio small.char-count {
    float: right;
}

/*************************************************/
/** Be Tutor Form - Keywords                     */
/*************************************************/

.BeTutorForm .User-Keywords {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.BeTutorForm .User-Keywords>li .MuiChip-root {
    background-color: var(--bg-color);
    border: 1px solid var(--tertiary-color);
    color: var(--secondary-color);
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.BeTutorForm .User-Keywords>li .MuiChip-root svg {
    color: var(--tertiary-color);
}

.BeTutorForm .User-Keywords>li .MuiChip-root svg:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.form-footer {
    display: flex;
    justify-content: space-between;
    font-style: italic;
}

.form-footer>.info-text {
    color: var(--tertiary-color);
}