.Autocomplete {
    position: relative;
}

.Autocomplete .options {
    background-color: var(--tertiary-color-light);
    box-shadow: 0 0 12px 0 #222222;
    width: 100%;
    position: absolute;
    z-index: 99999999999;
}

.Autocomplete .options .option {
    padding: .5rem;
    border-bottom: 1px solid var(--tertiary-color);
}

.Autocomplete input {
    padding-left: 2.5rem;
}

/*********************************************/
/** AUTOCOMPLETE USER                        */
/*********************************************/
.Autocomplete .options .option.User-option {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: .5rem 4rem;
}


.Autocomplete .options .option.User-option .MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
    max-width: 32px;
    max-height: 32px;
    margin-right: 1.25rem;
}

/*********************************************/
/** AUTOCOMPLETE STUDY GROUPS                */
/*********************************************/
.StudyGroupForm {
    margin-top: 5rem;
}

.StudyGroupForm .Autocomplete {
    margin-bottom: 6rem;
}