.Modal {
	background-color: var(--bg-color);
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
}

.Modal-Close {
	position: absolute;
	top: 2.5%;
}

.mate-btn-submit,
.mate-btn-reset {
	position: absolute;
	width: 350px;
	left: 50%;
	margin-left: -175px;
}

.mate-btn-submit {
	bottom: 7.5rem;
}

.mate-btn-reset {
	bottom: 3.5rem;
}

.Modal .Modal-Content {
	margin-top: 50%;
}

.Modal .Modal-Full-Content {
	margin-top: 6%;
}