:root {
  --primary-color: #75F3E7;
  --secondary-color: #eeeeee;
  --tertiary-color: #393E46;
  --tertiary-color-light: rgb(43, 47, 58);
  --danger-color: #E15554;
  --bg-color: #222831
}

body {
  font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color)
}

ul {
  padding: 0;
  list-style-type: none;
}

input,
.mate-form-input {
  border: 1px solid var(--tertiary-color);
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

input:focus,
.mate-form-input:focus {
  border-color: var(--bg-color);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  outline: none;
  box-shadow: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--tertiary-color);
  -webkit-text-fill-color: var(--secondary-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.mate-text-primary,
.success {
  color: var(--primary-color);
}

.Body-Header {
  display: flex;
  justify-content: space-around;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.Body-Header h4,
.Body-Header h5 {
  margin: 0;
}

.mate-bg-primary {
  background-color: var(--bg-color);
}

.mate-text-secondary {
  color: var(--secondary-color);
}

.mate-text-danger,
.danger {
  color: var(--danger-color);
}

.mate-text-active {
  color: var(--tertiary-color);
}

label,
.mate-btn,
input,
.mate-form-input {
  border-radius: 15px;
  height: 45px;
}

label,
input,
.mate-form-input {
  border-radius: 15px;
  height: 45px;
  font-size: 18px;
}

.mate-btn {
  font-size: 20px;
}

.mate-btn-primary {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

.mate-btn-secondary {
  color: var(--primary-color);
  background-color: var(--bg-color);
  border: 1px solid var(--primary-color);
}

.mate-btn-secondary:hover {
  color: var(--bg-color);
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.mate-btn-cta {
  position: absolute;
  width: 350px;
  bottom: 7.5rem;
  left: 50%;
  margin-left: -175px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}