:root {
	--primary-color: #75f3e7;
	--secondary-color: #eeeeee;
	--tertiary-color: #393e46;
	--tertiary-color-light: rgb(43, 47, 58);
	--danger-color: #e15554;
	--bg-color: #222831;
	--bg-active-color: #1c2127;
	--user-chat-color: #65cac3;
}

body {
	font-family: 'Rubik', sans-serif;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

body {
	background-color: var(--bg-color);
	color: var(--secondary-color);
}

ul {
	padding: 0;
	list-style-type: none;
}

input,
.mate-form-input {
	border: 1px solid var(--tertiary-color);
	background-color: var(--bg-color);
	color: var(--secondary-color);
}

input:focus,
.mate-form-input:focus {
	border-color: var(--bg-color);
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
	outline: none;
	box-shadow: none;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: 1px solid var(--tertiary-color);
	-webkit-text-fill-color: var(--secondary-color);
	-webkit-box-shadow: 0 0 0px 1000px var(--bg-color) inset;
	transition: background-color 5000s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.mate-text-primary,
.success {
	color: var(--primary-color);
}

/********************************* */
/** BASE                           *
/********************************* */

.Body-Header {
	display: flex;
	position: fixed;
	justify-content: space-around;
	padding-top: 1.2rem;
	padding-bottom: 1.2rem;
	border-bottom: 2px solid var(--tertiary-color);
	cursor: pointer;
	height: 8vh;
	background-color: var(--bg-color);
	margin-top: 9.6vh;
	width: 100%;
	z-index: 25;
	box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.6);
}

.Body-Header h4,
.Body-Header h5 {
	margin: 0;
}

.Page__Body {
	flex: 1;
	padding: 30px;
	overflow: scroll;
	margin-top: 18vh;
	margin-bottom: 7rem;
}

/********************************* */

.mate-bg-primary {
	background-color: var(--bg-color);
}

.mate-text-secondary {
	color: var(--secondary-color);
}

.mate-text-danger,
.danger {
	color: var(--danger-color);
}

.mate-text-active {
	color: var(--tertiary-color);
}

.mate-btn,
input,
.mate-form-input {
	border-radius: 15px;
}

.description-input {
	height: 74px;
}

.mate-btn {
	height: 45px;
}

.mate-btn-danger {
	background-color: var(--bg-color);
	color: var(--danger-color);
	border: 1px solid var(--danger-color);
}

label,
input,
.mate-form-input {
	font-size: 16px;
}

.NavBar > a:hover {
	color: var(--primary-color);
}

.mate-btn {
	font-size: 20px;
	z-index: 1000;
}

.mate-btn-primary {
	color: var(--bg-color);
	background-color: var(--primary-color);
}

.mate-btn-secondary {
	color: var(--primary-color);
	background-color: var(--bg-color);
	border: 1px solid var(--primary-color);
}

.mate-btn-secondary:hover {
	color: var(--bg-color);
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}

.mate-btn-cta {
	position: fixed;
	width: 350px;
	bottom: 7.5rem;
	left: 50%;
	margin-left: -175px;
}

.MuiButtonBase-root.MuiIconButton-root,
.MuiButtonBase-root.MuiIconButton-root > .MuiIconButton-label > a {
	font-size: large;
	color: var(--tertiary-color);
}

.MuiButtonBase-root.MuiIconButton-root:hover {
	color: var(--primary-color);
}

.Mate-Card {
	padding: 1.2rem;
}

input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: var(--secondary-color);
	text-transform: lowercase;
	font-size: small;
}

input::-moz-placeholder {
	/* Firefox 19+ */
	color: var(--secondary-color);
	text-transform: lowercase;
	font-size: small;
}

input:-ms-input-placeholder {
	/* IE 10+ */
	color: var(--secondary-color);
	font-size: small;
	text-transform: lowercase;
}

input:-moz-placeholder {
	/* Firefox 18- */
	color: var(--secondary-color);
	font-size: small;
	text-transform: lowercase;
}

.mate-form-input option:disabled.option-disabled {
	color: var(--secondary-color);
	font-size: small;
	text-transform: lowercase;
}

select option:disabled {
	color: var(--secondary-color);
	font-size: small;
	text-transform: lowercase;
}

.errors,
.error-limit {
	color: var(--danger-color);
}

.errors {
	font-size: smaller;
	font-style: italic;
}

a:hover {
	text-decoration: none;
	background-color: #12151a;
}

/********************************* */
/** Popovers                       *
/********************************* */

.MuiPaper-root.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
	background-color: var(--tertiary-color);
}

.MuiButtonBase-root.MuiIconButton-root.Delete__Btn {
	color: var(--danger-color);
}

.MuiButtonBase-root.MuiIconButton-root.Edit__Btn {
	color: var(--user-chat-color);
}

.MuiButtonBase-root.MuiIconButton-root.Share__Btn {
	color: var(--primary-color);
}

.MuiButtonBase-root.MuiIconButton-root.Share__Btn small {
	margin-left: 2px;
}

/********************************* */
/** Forms                          *
/********************************* */

.date-input-group {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.MuiInputBase-input,
.MuiInput-input {
	color: var(--secondary-color) !important;
}

.MuiInput-underline::after {
	border-bottom: 1px solid var(--secondary-color) !important;
}

.MuiInput-underline::before {
	border-bottom: 1px solid var(--tertiary-color) !important;
}

.PostForm__Footer {
	float: right;
}

.message__attachments svg {
	fill: var(--tertiary-color);
	color: var(--tertiary-color);
}

/********************************* */
/** Checkbox                       *
/********************************* */

span.MuiButtonBase-root.MuiIconButton-root.PrivateSwitchBase-root-9.MuiCheckbox-root.MuiCheckbox-colorSecondary.PrivateSwitchBase-checked-10.Mui-checked.MuiIconButton-colorSecondary {
	color: var(--primary-color);
}

/********************************* */
/** Chat                           *
/********************************* */

.message__attachments > i {
	color: var(--tertiary-color);
	margin-right: 0.5rem;
	/* padding: 1rem; */
}

.message__attachments > i:hover {
	color: var(--primary-color);
}

/********************************* */
/** Autocomplete Places            *
/********************************* */
.Autocomplete-Location {
	position: relative;
}

.Autocomplete-Location-List {
	position: absolute;
	z-index: 100;
	text-align: left;
}

.Autocomplete-Location-Item {
	padding: 0.5rem;
	color: var(var(--secondary-color));
}

/********************************* */
/** Media Queries - MAIN LAYOUT    *
/********************************* */

.hide-sm,
.hide-md,
.hide-lg,
.NavBar > .NavBar-List.hide-sm {
	display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.Feed,
	.Search,
	.Courses,
	.StudyGroups,
	.StudyGroupChat,
	.Tutors,
	.Notifications-Page,
	.MessageChat,
	.PostInfo,
	.CourseInfo,
	.UserProfile {
		margin-left: 92px;
	}

	.hide-sm,
	.NavBar > .NavBar-List.hide-sm {
		display: block;
	}

	.Header.hide-md {
		display: none;
	}

	.Body-Header,
	.StudyGroups__Header,
	.CourseInfo__Header,
	.UserProfile__Header {
		margin-top: 0;
	}

	.StudyGroups__Header {
		padding-top: 1rem;
		height: 16vh;
	}

	.Notifications__Header,
	.Courses-Header,
	.Tutors-Header {
		margin-top: 0;
		justify-content: flex-start;
	}

	.Notifications__Header div:first-child,
	.Courses-Header div:first-child,
	.Tutors-Header div:first-child,
	.Feed > .Feed-Header > h5 {
		margin-left: 1.5rem;
	}

	.Notifications__Header div:last-child,
	.Courses-Header div:last-child,
	.Tutors-Header div:last-child {
		margin-left: 8rem;
	}

	.MessageChat__Header {
		margin-top: 2rem;
	}

	.PostInfo__Body {
		margin-top: 5rem;
	}

	.UserProfile > .UserProfile__Body {
		margin-top: 13rem;
	}

	.Page__Body {
		margin-top: 6rem;
	}

	.StudyGroups__Body {
		margin-top: 8rem;
	}

	.StudyGroupChat__Body.Page__Body,
	.CourseInfo__Body,
	.Tutors__Body {
		margin-top: 4rem;
	}

	.Courses__CourseList,
	.MessageList {
		margin-top: 4rem;
	}

	.StudyGroups__Header > h5 {
		text-align: left;
	}

	.Feed-Header.Body-Header {
		display: flex;
	}

	.Feed-Header.Body-Header,
	.PostInfo__Header.Body-Header {
		justify-content: flex-start;
	}

	.PostInfo > .PostInfo__Header.Body-Header > h5.text-center {
		margin-left: 4rem;
	}

	/* Admin Buttons for Message Chat and Study Group Chat */
	.MessageChat__Header > button.MuiButtonBase-root.MuiIconButton-root,
	.StudyGroupChat__Header > button.MuiButtonBase-root.MuiIconButton-root {
		right: 18%;
	}

	.mate-btn-cta {
		left: unset;
	}

	.MessageChat__Body.Page__Body,
	.StudyGroupChat__Body.Page__Body {
		margin-bottom: 2rem;
	}

	/* Chat Footers */
	.PostInfo__Footer,
	.StudyGroupChat__Footer,
	.MessageChat__Footer {
		width: 85%;
		bottom: 4vh;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.hide-md {
		display: block;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.hide-lg {
		display: block;
	}

	.Feed,
	.Search,
	.Courses,
	.StudyGroups,
	.StudyGroupChat,
	.Tutors,
	.Notifications-Page,
	.MessageChat,
	.PostInfo,
	.CourseInfo,
	.UserProfile {
		margin-left: 18rem;
	}

	.CourseInfo__Header {
		justify-content: flex-start;
	}

	.CourseInfo__Header > h5 {
		margin-left: 4.5rem;
	}

	.Notifications__Header div:last-child,
	.Courses-Header div:last-child,
	.Tutors-Header div:last-child {
		margin-left: 12rem;
	}

	/* Admin Buttons for Message Chat and Study Group Chat */
	.MessageChat__Header > button.MuiButtonBase-root.MuiIconButton-root,
	.StudyGroupChat__Header > button.MuiButtonBase-root.MuiIconButton-root {
		right: 27%;
	}

	/* Chat Footers */
	.PostInfo__Footer,
	.StudyGroupChat__Footer,
	.MessageChat__Footer {
		width: 75%;
	}

	.Modal .mate-btn-primary,
	.Modal .mate-btn-secondary {
		margin-left: -25px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
