:root {
  --primary-color: #75F3E7;
  --secondary-color: #eeeeee;
  --tertiary-color: #393E46;
  --danger-color: #E15554;
  --bg-color: #222831
}

body {
  font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--bg-color);
  color: var(--secondary-color)
}

ul {
  padding: 0;
  list-style-type: none;
}

input,
.mate-form-input {
  border: 1px solid var(--tertiary-color);
  background-color: var(--bg-color);
  color: var(--secondary-color);
}

input:focus,
.mate-form-input:focus {
  border-color: var(--bg-color);
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
.mate-text-primary,
.success {
  color: var(--primary-color);
}

.mate-bg-primary {
  background-color: var(--bg-color);
}

.mate-text-secondary {
  color: var(--secondary-color);
}

.mate-text-danger,
.danger {
  color: var(--danger-color);
}

.mate-text-active {
  color: var(--tertiary-color);
}

.mate-btn,
input,
.mate-form-input {
  border-radius: 15px;
  height: 45px;
  font-size: 20px;
}

.mate-btn-primary {
  color: var(--bg-color);
  background-color: var(--primary-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}