.Header {
    border-bottom: 2px solid var(--tertiary-color);
}

.Header-Logo img {
    width: 64px;
}

.makeStyles-list-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 250px;
}

.MuiList-root.MuiList-padding {
    margin-left: 2rem;
    text-align: left;
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 {
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorLeft.MuiPaper-elevation16 .MuiSvgIcon-root {
    fill: var(--secondary-color);
}

.MuiButtonBase-root.MuiFab-root {
    position: absolute;
    right: 1.5rem;
    bottom: 7rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.MuiButtonBase-root.MuiFab-root:hover {
    background-color: var(--bg-color);
    color: var(--primary-color);
    box-shadow: 0 0 5px 3px rgba(117, 243, 231, .8);
}