.NavBar {
	border-top: 2px solid var(--tertiary-color);
	height: 92px;
	box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.6);
	display: flex;
}

.NavBar > .NavBar-List {
	display: flex;
	margin: auto;
	justify-content: space-between;
	width: 100%;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
}

.nav-item > .nav-link {
	opacity: 0.3;
}

.nav-item > .nav-link,
.Log-Out {
	transition: all 0.2s;
}

.nav-item > .nav-link > h5 {
	color: var(--secondary-color);
}

.nav-link.active {
	opacity: 1;
}

.nav-item > .nav-link.active > h5 {
	color: var(--primary-color);
}

.study-group-icon {
	width: 56px;
}

a.nav-link > svg {
	color: var(--primary-color);
}

a.nav-link:hover {
	opacity: 1;
}

a.nav-link:active,
a.nav-link:link,
a.nav-link:visited,
a.nav-link:focus {
	background-color: var(--bg-color);
}

.nav-avatar .MuiAvatar-root.MuiAvatar-circle {
	margin: auto;
}

/********************************* */
/** Media Queries                  *
/********************************* */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.NavBar {
		border-right: 2px solid var(--tertiary-color);
		height: 100vh;
		width: 92px;
		box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
		display: flex;
		flex-direction: column;
	}

	.fixed-bottom {
		right: none;
		top: 0;
	}

	.NavBar > .NavBar-List {
		flex-direction: column;
	}

	.NavBar-List.NavBar-List__Primary {
		margin-bottom: 4rem;
		margin-top: 2rem;
	}

	.NavBar-List__Logo {
		margin-bottom: 4rem;
		margin-top: 2rem;
	}

	.NavBar-List__Settings {
		margin-bottom: 2rem;
	}

	.NavBar > .NavBar-List__Secondary .Header-Logo img {
		width: 48px;
	}

	.Log-Out > button > span > h5.hide-lg {
		color: var(--tertiary-color);
	}

	.Log-Out > .MuiButtonBase-root.MuiIconButton-root:hover,
	.Log-Out > button:hover h5.hide-lg {
		color: var(--secondary-color);
	}

	.nav-avatar:hover,
	.Log-Out > .MuiButtonBase-root.MuiIconButton-root:hover,
	.nav-avatar.nav-item > a {
		background-color: var(--bg-color);
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.NavBar {
		width: 18rem;
	}

	.NavBar > .NavBar-List > .nav-item > .nav-link,
	.NavBar > .NavBar-List > .nav-item.nav-avatar > a {
		display: flex;
		align-items: center;
	}

	.NavBar > .NavBar-List > .nav-item > .nav-link > svg,
	.NavBar > .NavBar-List > .nav-item > .nav-link > .MuiBadge-root > svg {
		width: 80px;
		text-align: left;
	}

	.NavBar > .NavBar-List > .nav-item > .nav-link > .study-group-icon {
		width: 48px;
		margin-left: 1rem;
	}

	.Study-Group-Nav {
		align-items: center;
	}

	.Study-Group-Nav > h5 {
		margin-left: 2rem;
	}

	.hide-lg {
		margin-left: 1rem;
	}

	.NavBar-List.NavBar-List__Secondary.NavBar-List__Settings {
		display: flex;
		justify-content: flex-start;
	}

	.NavBar-List.NavBar-List__Secondary.NavBar-List__Settings
		> li.nav-item.Log-Out {
		text-align: start;
		margin-left: 1.25rem;
	}

	.NavBar-List.NavBar-List__Secondary.NavBar-List__Settings
		> li.nav-item.Log-Out
		h5 {
		margin-left: 2rem;
	}

	.NavBar-List.NavBar-List__Secondary.NavBar-List__Settings
		> li.nav-item.nav-avatar
		> a
		> .MiuAvatar-root.MuiAvatar-circle {
		margin-left: 2.1rem;
		margin-right: 0;
	}

	.nav-item.nav-avatar > a > h5.hide-lg,
	.nav-item.nav-avatar {
		margin-left: 2.1rem;
	}

	.nav-item.nav-avatar > a > .MuiAvatar-root.MuiAvatar-circle {
		margin-left: 0;
		margin-right: 0;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
