.NavBar {
	border-top: 2px solid var(--tertiary-color);
	height: 92px;
	box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.6);
	display: flex;
}

.NavBar > .NavBar-List {
	display: flex;
	margin: auto;
	justify-content: space-between;
	width: 100%;
}

.nav-item {
	margin-top: auto;
	margin-bottom: auto;
}

.nav-link {
	opacity: 0.3;
	transition: all 0.2s;
}

.nav-link.active {
	opacity: 1;
}

.study-group-icon {
	width: 56px;
}

a.nav-link > svg {
	color: var(--primary-color);
}

a.nav-link:hover {
	opacity: 1;
}

a.nav-link:active,
a.nav-link:link,
a.nav-link:visited,
a.nav-link:focus {
	background-color: var(--bg-color);
}

.nav-avatar .MuiAvatar-root.MuiAvatar-circle {
	margin: auto;
}

/********************************* */
/** Media Queries                  *
/********************************* */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.NavBar {
		border-right: 2px solid var(--tertiary-color);
		height: 100vh;
		width: 92px;
		box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
		display: flex;
		flex-direction: column;
	}

	.fixed-bottom {
		right: none;
		top: 0;
	}

	.NavBar > .NavBar-List {
		flex-direction: column;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
