.Courses {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.Courses__CourseList {
	flex: 1;
	margin-top: 18vh;
	margin-bottom: 7rem;
	overflow: scroll;
}

.Course.Course-Card {
	font-size: 14px;
	display: flex;
}

.Course.Course-Card .Course-Card-Term {
	font-size: 12px;
	font-style: italic;
}

.Course.Course-Card tr th,
.Course.Course-Card tr td {
	text-align: left;
}

.Course.Course-Card .Course-Name,
.Course.Course-Card .Course-Title {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
}

.Course.Course-Card .Course-Name {
	width: 150px;
	padding-left: 1.25rem;
}

.Course.Course-Card .Course-Title {
	margin: auto;
	padding-right: 1.25rem;
}

.Assignment.Assignment-Card {
	border-bottom: 1px solid var(--tertiary-color);
}

.mate-table {
	width: 100%;
	border-bottom: 1px solid var(--tertiary-color);
}

.CourseFormSemester {
	display: flex;
	flex-direction: column;
}

.CourseFormSemester label {
	margin-right: auto;
}

.CourseFormSemesterFields {
	display: flex;
	justify-content: space-between;
}

/********************************* */
/** Media Queries                  *
/********************************* */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.Assignment.Assignment-Card {
		font-size: 1rem;
		padding: 1rem;
	}
	.Course.Course-Card .Course-Title {
		margin-left: 4rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.Course.Course-Card .Course-Title {
		margin-left: 4rem;
	}
}
